.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

%p アバター画像変更はアイコンタップ

= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|

  .circle-avatar
    %img#avatar_img_prev.hidden{:src => "#"}

      - if current_user.persisted? && current_user.avatar_image
        = image_tag current_user.avatar_image, class: 'avatar_present_img'
          
      - else
        = image_tag 'default-avatar.png', class: 'avatar_present_img'
          
        = f.hidden_field :avatar_cache
      = f.file_field :avatar, id: 'post_img'
      = f.submit '保存',id: 'post_btn'

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|

    %div
      = f.label :nickname, 'ハンドルネーム'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction, '自己紹介'
    %div
      = f.text_area :introduction

    = f.submit '保存', class: 'btn-secondary'

