.container.profilePage
  .profilePage_user
    .profilePage_user_name
      = current_user.username
    .profilePage_user_image
      .profilePage_user_actionButton
        = link_to 'Edit', edit_profile_path
      .profilePage_user_introduction
        aaaaaaaaaaaaaaaa
      = image_tag 'default-avatar.png'
= link_to 'home', root_path

- current_user.articles.each do |article|
  = render 'commons/article', article: article

