<%= link_to article_path(id: article.id) do %>
      <div class="card">
        <div class="card_content">
          <div class="card_detail">
                <%= image_tag 'default-avatar.png' %>
                <div>
                  <p>cohki0305</p>
                  <p><%= article.display_created_at %></p>
                </div>
            </div>
              <div class="card_image">
                <%= image_tag 'nils.jpg' %>
              </div>
              <div class="card_heart">
                <%= image_tag 'heart.svg' %>
                <span>23</span>
               <%= link_to article_path(id: article.id) do %>
                <%= image_tag 'Vector.png' %>
              <% end %>
              <%= link_to image_tag('Share.png', :class => "card_heart_img"),  "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank'  %>
              </div>

              <%= article.content %>
            </div>
        </div>
    <% end %>