.container
  %ul
    - @article.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @article, url: articles_path, method: 'post', local: true) do |f|
    %div
      = f.label :eyecatch, '投稿画像'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :images, 'サブ投稿'
    %div
      = f.file_field :images
    %div
      = f.label :content, 'Whats on your mind ?'
    %div
      = f.text_area :content
    = f.submit '+ Post', class: 'btn-primary'
