<div class="container">
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <%= form_with(model: @article, url: articles_path, method: 'post', local: true) do |f| %>
    <div>
      <%= f.label :content, 'Whats on your mind ?' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <%= f.submit '+ Post', class: 'btn-primary' %>
  <% end %>
</div>
