= link_to article_path(id: article.id) do
  .card
    .card_content
      .card_detail
        = link_to account_path(article.user) do
          = image_tag article.user.avatar_image
        %div
          %p= article.user.username
          %p= article.display_created_at
      - if article.eyecatch.attached?
        .card_image
          = link_to article_path(id: article.id) do
            = image_tag article.eyecatch
      - if article.images.attached?
        .card_image
          = link_to article_path(id: article.id) do
            = image_tag article.images
      .card_heart
        = image_tag 'heart.svg'
        %span= article.like_count
        = link_to article_path(id: article.id) do
          = image_tag 'Vector.png'
        = link_to image_tag('Share.png', :class => "card_heart_img"),  "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank'
      = article.content
